---
layout: default
title: Home
---

<div class="intro">

  <h3>welcome & thanks</h3>
  <p>
  Welcome to my little page on the internet; thanks for visiting. I write
  weekly as I rangle thoughts and ideas I'm processing. That said, take
  everything with a grain of salt.</p>

  <h3>freelance data scientist/engineer</h3>
  <p>
    I help small and medium sized companies <u><b>implement data focused
    solutions</b></u>. If you're looking for high level guidance or technical
    engineering help, I'm reachable via email, weston (at) venture.io</p>
</div>

<hr>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <div style="float: left">
      <h4 class="post-title">
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </h4>
    </div>

    <div style="float: right;">
      <span class="post-date">{{ post.date | date_to_string }}</span>
    </div>

    <div style="clear: both;"></div>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
