h1,h2,h3,h4,h5
{
   font-family: "Fjalla One","Georgia","Helvetica Neue",Arial,NanumBarunGothic,"Apple SD Gothic Neo",AppleGothic,"Malgun Gothic",DotumChe,sans-serif;
   font-weight: 200;
}

p {
    font-family: "Open Sans","Helvetica Neue",Arial,NanumBarunGothic,"Apple SD Gothic Neo",AppleGothic,"Malgun Gothic",DotumChe,sans-serif;
    font-size: 0.83em;
}

.content {
    padding-top: 3em;
}

.sidebar .sidebar-about .lead {
    color: white;
    font-size: 15px;
}

.posts .post {
    margin-bottom: 20px;
}

.posts .post .post-date {
    font-size: 15px;
    padding-top: 10px
}

img.responsive {
    max-width: 150px;
    height: auto;
    display: block;
}

@media (min-width: 48em) {
    .hide-desktop {
        display: none !important;
    }
}

@media (max-width: 48em) {
    .hide-mobile {
        display: none !important;
    }
}
